workflow-desafio-002.json
{
  "name": "Sigma2106",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1620,
        280
      ],
      "id": "747acb59-fcd5-40b5-9be9-950a49417434",
      "name": "When clicking ‘Execute workflow’",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_KyfWWvH3__MNOHHEFjygKE-KOLPtwVN",
          "mode": "list",
          "cachedResultName": "202401_NFs_Cabecalho.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1_KyfWWvH3__MNOHHEFjygKE-KOLPtwVN/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1300,
        80
      ],
      "id": "d59640be-4bf4-47a9-851f-57e281f5b36b",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHizxSrNdyiBKdbY",
          "name": "Google Drive account 24062026"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['CHAVE DE ACESSO']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -780,
        240
      ],
      "id": "1645fe97-302b-4ae6-a016-dee98017bffe",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1AIi7yE5R7TZMZP4uFrkQ6PgKWXnJ7khg",
          "mode": "list",
          "cachedResultName": "202401_NFs_Itens.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1AIi7yE5R7TZMZP4uFrkQ6PgKWXnJ7khg/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1300,
        440
      ],
      "id": "dbcbd694-e689-488f-8fe3-31a6969502ae",
      "name": "Google Drive 2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHizxSrNdyiBKdbY",
          "name": "Google Drive account 24062026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1080,
        160
      ],
      "id": "d808e48f-bbe4-4eee-b4a8-1d62cf24899c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1080,
        340
      ],
      "id": "fec63591-f9e9-48d0-b729-326845619a1b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "tableId": "sigmaai",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chave_de_acesso",
              "fieldValue": "={{ $json[\"CHAVE DE ACESSO\"] }}"
            },
            {
              "fieldId": "modelo",
              "fieldValue": "={{ $json.MODELO }}"
            },
            {
              "fieldId": "serie",
              "fieldValue": "={{ $json[\"SÉRIE\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json[\"NÚMERO\"] }}"
            },
            {
              "fieldId": "natureza_da_operacao",
              "fieldValue": "={{ $json[\"NATUREZA DA OPERAÇÃO\"] }}"
            },
            {
              "fieldId": "data_emissao",
              "fieldValue": "={{ $json[\"DATA EMISSÃO\"] }}"
            },
            {
              "fieldId": "evento_mais_recente",
              "fieldValue": "={{ $json[\"EVENTO MAIS RECENTE\"] }}"
            },
            {
              "fieldId": "cpf_cnpj_emitente",
              "fieldValue": "={{ $json[\"CPF/CNPJ Emitente\"] }}"
            },
            {
              "fieldId": "razao_social_emitente",
              "fieldValue": "={{ $json[\"RAZÃO SOCIAL EMITENTE\"] }}"
            },
            {
              "fieldId": "inscricao_estadual_emitente",
              "fieldValue": "={{ $json[\"INSCRIÇÃO ESTADUAL EMITENTE\"] }}"
            },
            {
              "fieldId": "uf_emitente",
              "fieldValue": "={{ $json[\"UF EMITENTE\"] }}"
            },
            {
              "fieldId": "municipio_emitente",
              "fieldValue": "={{ $json[\"MUNICÍPIO EMITENTE\"] }}"
            },
            {
              "fieldId": "cnpj_destinatario",
              "fieldValue": "={{ $json[\"CNPJ DESTINATÁRIO\"] }}"
            },
            {
              "fieldId": "nome_destinatario",
              "fieldValue": "={{ $json[\"NOME DESTINATÁRIO\"] }}"
            },
            {
              "fieldId": "uf_destinatario",
              "fieldValue": "={{ $json[\"UF DESTINATÁRIO\"] }}"
            },
            {
              "fieldId": "indicador_ie_destinatario",
              "fieldValue": "={{ $json[\"INDICADOR IE DESTINATÁRIO\"] }}"
            },
            {
              "fieldId": "destino_da_operacao",
              "fieldValue": "={{ $json[\"DESTINO DA OPERAÇÃO\"] }}"
            },
            {
              "fieldId": "consumidor_final",
              "fieldValue": "={{ $json[\"CONSUMIDOR FINAL\"] }}"
            },
            {
              "fieldId": "presenca_do_comprador",
              "fieldValue": "={{ $json[\"PRESENÇA DO COMPRADOR\"] }}"
            },
            {
              "fieldId": "valor_nota_fiscal",
              "fieldValue": "={{ $json[\"VALOR NOTA FISCAL\"] }}"
            },
            {
              "fieldId": "numero_produto",
              "fieldValue": "={{ $json[\"NÚMERO PRODUTO\"] }}"
            },
            {
              "fieldId": "descricao_do_produto_servico",
              "fieldValue": "={{ $json[\"DESCRIÇÃO DO PRODUTO/SERVIÇO\"] }}"
            },
            {
              "fieldId": "codigo_ncm_sh",
              "fieldValue": "={{ $json[\"CÓDIGO NCM/SH\"] }}"
            },
            {
              "fieldId": "cfop",
              "fieldValue": "={{ $json.CFOP }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json.QUANTIDADE }}"
            },
            {
              "fieldId": "unidade",
              "fieldValue": "={{ $json.UNIDADE }}"
            },
            {
              "fieldId": "valor_unitario",
              "fieldValue": "={{ $json[\"VALOR UNITÁRIO\"] }}"
            },
            {
              "fieldId": "data_hora_evento_mais_recente",
              "fieldValue": "={{ $json[\"DATA/HORA EVENTO MAIS RECENTE\"] }}"
            },
            {
              "fieldId": "valor_total_it",
              "fieldValue": "={{ $json[\"VALOR TOTAL\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        240
      ],
      "id": "9dea2566-0b96-4609-b574-bca45ae51fc9",
      "name": "Supabase",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "itMEhqQGjrpm9CWP",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Voce é um assistente especialista em encantar nosso cliente e direciona-lo com excelencia na area fiscal.\n\nAo responder, sempre utilizar um tom elegante, educado, simpatico e assertivo.\n\nConsidere que as pessoas que irão realizar as perguntas são leigas na área fiscal, por isso traga o maior detalhe possivel e sua explicação.\n\nOs arquivos avaliados são planilhas de excel contendo notas fiscais, com o cabeçalho e também os seus itens. Tendo como chave integradora o campos \"CHAVE DE ACESSO\". \n\nPergunta: \"Qual empresa mais vendeu?\"  \n  Resultado:  \n  `{ \"razao_social_emitente\": \"EDITORA FTD S.A.\", \"total_vendas\": 12294992.01 }`  \n  Resposta: A empresa que mais vendeu foi EDITORA FTD S.A., com um total de R$ 12.294.992,01 em vendas.\n \n- Pergunta: \"Qual o valor total das notas emitidas?\"  \n  Resultado: `153200.75`  \n  Resposta: O valor total das notas emitidas foi de R$ 153.200,75.\n \n- Pergunta: \"Quantas notas foram emitidas?\"  \n  Resultado: `0`  \n  Resposta: Nenhuma nota fiscal foi emitida no período analisado.\n \n- Pergunta: \"Qual o número da nota com maior valor?\"  \n  Resultado: `982145`  \n  Resposta: A nota fiscal com o maior valor tem o número 982145.\n \n---\n \n Sua resposta final deve ser apenas o texto, com clareza, precisão e formatação correta. \n \nNão use prefixos, markdown ou explicações adicionais.\n\nSe você não souber a resposta da pergunta diga que não conseguiu identificar uma resposta assertiva para seu questionamento.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        140,
        200
      ],
      "id": "fe6cfc92-a5c5-470a-a43d-ec1cc7357a1e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        420
      ],
      "id": "cd305ba3-6f19-47c9-80cf-a7f9eb558366",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        200
      ],
      "id": "00f567c0-3341-4582-a26f-70302da22208",
      "name": "When chat message received",
      "webhookId": "b0bad068-da8a-4cc4-bd1a-2e37c05d9008"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sigmaai",
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        400,
        420
      ],
      "id": "0af21b9d-b298-40bb-b3ef-47c05144caf2",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "itMEhqQGjrpm9CWP",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        400
      ],
      "id": "427881dc-6354-4fcf-8756-71cea8bcecb3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lyFQ0PCN6kxrOQX1",
          "name": "OpenAi account Sigma"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive 2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8cba1e94-9965-44ff-864a-fc91d32b73e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e7dba5c74f66dc3ab363d0e08ff987e818e495d79f5ac673fe0643d51256f5f"
  },
  "id": "Dayn4rJAqlrSlUz4",
  "tags": []
}